<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="buildModes" type="AcePump.Common.BuildModes.BuildModesConfigurationSection, AcePump.Common" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="azure-acepump-live-db" connectionString="Server=tcp:acepump-sqlserv.database.windows.net,1433;Initial Catalog=acepump-live-db;Persist Security Info=False;User ID=acepump-sqluser;Password=QAHBV3DXF3pMDprvMCsFFcBwfBrbT6BpVVFVMvKBBs6BRBMqLSsk8VfenwNj;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="azure-acepump-alpha-db" connectionString="Server=tcp:acepump-sqlserv.database.windows.net,1433;Initial Catalog=acepump-alpha-db;Persist Security Info=False;User ID=acepump-sqluser;Password=QAHBV3DXF3pMDprvMCsFFcBwfBrbT6BpVVFVMvKBBs6BRBMqLSsk8VfenwNj;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="azure-acepump-apple-test-db" connectionString="Server=tcp:acepump-sqlserv.database.windows.net,1433;Initial Catalog=acepump-apple-test-db;Persist Security Info=False;User ID=acepump-sqluser;Password=QAHBV3DXF3pMDprvMCsFFcBwfBrbT6BpVVFVMvKBBs6BRBMqLSsk8VfenwNj;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

    <add name="local-sqlexpress" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AcePump_Debug;Persist Security Info=True;User ID=AcePump_Debug_User;Password=AcePump; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <buildModes>
    <mode name="Release" applicationSubtitle="">
      <logging logSearches="true" logErrorsToFogBugz="true" logEntryPrefix="Ace Pump - Azure Live" logAllRequests="false" />
      <database connectionStringName="azure-acepump-live-db" dropAndSeed="false" />
      <storage storageType="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=acepumplivestorage;AccountKey=0t3iViSFjxfF9X/FptDC/LVItjH7sIbcWRCC7PEvNZxhWpFaY5seioMvFgtY4Uxq6ucyLdTwcvLm+QaP1p/YUA==;EndpointSuffix=core.windows.net" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="http://api.acepumpinc.com/" />
      <ptpApi uriV1="http://db.acepumpinc.com/" uriV2="http://api.acepumpinc.com/" />
    </mode>

    <mode name="Beta" applicationSubtitle="BETA: Using live data">
      <logging logSearches="true" logErrorsToFogBugz="true" logEntryPrefix="Ace Pump - Azure Beta" />
      <database connectionStringName="azure-acepump-live-db" dropAndSeed="false" />
      <storage storageType="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=acepumplivestorage;AccountKey=0t3iViSFjxfF9X/FptDC/LVItjH7sIbcWRCC7PEvNZxhWpFaY5seioMvFgtY4Uxq6ucyLdTwcvLm+QaP1p/YUA==;EndpointSuffix=core.windows.net" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="http://beta.api.acepumpinc.com/api/" />
      <ptpApi uriV1="http://beta.acepumpinc.com/" uriV2="http://beta.api.acepumpinc.com/api/" />
    </mode>

    <mode name="Alpha" applicationSubtitle="ALPHA: NOT using live data">
      <logging logSearches="false" logErrorsToFogBugz="true" logEntryPrefix="Ace Pump - Azure Alpha" />
      <database connectionStringName="azure-acepump-alpha-db" dropAndSeed="false" />
      <storage storageType="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=acepumpalphastorage;AccountKey=QU3pzRH9e5F2PcnwokhhRxbWy4plNKHu9nFjjWzkIQ12+RhfrE3TG99FNsNyl7ZIeNBrQypgarVU6i5Qy8HlGQ==;EndpointSuffix=core.windows.net" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="https://acepump-webapi-alpha-wa.azurewebsites.net/" />
      <ptpApi uriV1="http://alpha.acepumpinc.com/live/" uriV2="https://acepump-webapi-alpha-wa.azurewebsites.net/" />
    </mode>

    <mode name="Debug" applicationSubtitle="DEBUG MODE: Not using live data">
      <logging logErrorsToFogBugz="false" />
      <database connectionStringName="local-sqlexpress" dropAndSeed="true" />
      <storage storageType="FileSystem" connectionString="~\Uploads" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="http://localhost:4400/ http://localhost:65190/" />
      <ptpApi uriV1="http://localhost:56056/" uriV2="http://localhost:65190/" />
    </mode>
  </buildModes>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    
    <membership defaultProvider="LinqMembershipProvider">
      <providers>
        <clear />
        <add name="LinqMembershipProvider" type="Yesod.LinqProviders.LinqMembershipProvider, Yesod" factoryType="AcePump.Domain.DataSourceFactory, AcePump.Domain" factoryMethod="GetAcePumpDataSource" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    
    <roleManager defaultProvider="DefaultRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="DefaultRoleProvider" type="Yesod.LinqProviders.LinqRoleProvider, Yesod" factoryType="AcePump.Domain.DataSourceFactory, AcePump.Domain" factoryMethod="GetAcePumpDataSource" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>