<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AcePump.Web.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="buildModes" type="AcePump.Common.BuildModes.BuildModesConfigurationSection, AcePump.Common" />
  </configSections>
  <connectionStrings>
    <add name="azure-acepump-live-db" connectionString="Server=tcp:acepump-sqlserv.database.windows.net,1433;Initial Catalog=acepump-live-db;Persist Security Info=False;User ID=acepump-sqluser;Password=QAHBV3DXF3pMDprvMCsFFcBwfBrbT6BpVVFVMvKBBs6BRBMqLSsk8VfenwNj;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="azure-acepump-alpha-db" connectionString="Server=tcp:acepump-sqlserv.database.windows.net,1433;Initial Catalog=acepump-alpha-db;Persist Security Info=False;User ID=acepump-sqluser;Password=QAHBV3DXF3pMDprvMCsFFcBwfBrbT6BpVVFVMvKBBs6BRBMqLSsk8VfenwNj;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="azure-acepump-apple-test-db" connectionString="Server=tcp:acepump-sqlserv.database.windows.net,1433;Initial Catalog=acepump-apple-test-db;Persist Security Info=False;User ID=acepump-sqluser;Password=QAHBV3DXF3pMDprvMCsFFcBwfBrbT6BpVVFVMvKBBs6BRBMqLSsk8VfenwNj;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

    <add name="local-sqlexpress" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AcePump_Debug;Persist Security Info=True;User ID=AcePump_Debug_User;Password=AcePump; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <buildModes>
    <mode name="Release" applicationSubtitle="">
      <logging logSearches="true" logErrorsToFogBugz="true" logEntryPrefix="Ace Pump - Azure Live" logAllRequests="false" />
      <database connectionStringName="azure-acepump-live-db" dropAndSeed="false" />
      <storage storageType="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=acepumplivestorage;AccountKey=0t3iViSFjxfF9X/FptDC/LVItjH7sIbcWRCC7PEvNZxhWpFaY5seioMvFgtY4Uxq6ucyLdTwcvLm+QaP1p/YUA==;EndpointSuffix=core.windows.net" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="http://api.acepumpinc.com/" />
      <ptpApi uriV1="http://db.acepumpinc.com/" uriV2="http://api.acepumpinc.com/" />
    </mode>

    <mode name="Beta" applicationSubtitle="BETA: Using live data">
      <logging logSearches="true" logErrorsToFogBugz="true" logEntryPrefix="Ace Pump - Azure Beta" />
      <database connectionStringName="azure-acepump-live-db" dropAndSeed="false" />
      <storage storageType="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=acepumplivestorage;AccountKey=0t3iViSFjxfF9X/FptDC/LVItjH7sIbcWRCC7PEvNZxhWpFaY5seioMvFgtY4Uxq6ucyLdTwcvLm+QaP1p/YUA==;EndpointSuffix=core.windows.net" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="http://beta.api.acepumpinc.com/api/" />
      <ptpApi uriV1="http://beta.acepumpinc.com/" uriV2="http://beta.api.acepumpinc.com/api/" />
    </mode>

    <mode name="Alpha" applicationSubtitle="ALPHA: NOT using live data">
      <logging logSearches="false" logErrorsToFogBugz="true" logEntryPrefix="Ace Pump - Azure Alpha" />
      <database connectionStringName="azure-acepump-alpha-db" dropAndSeed="false" />
      <storage storageType="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=acepumpalphastorage;AccountKey=QU3pzRH9e5F2PcnwokhhRxbWy4plNKHu9nFjjWzkIQ12+RhfrE3TG99FNsNyl7ZIeNBrQypgarVU6i5Qy8HlGQ==;EndpointSuffix=core.windows.net" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="https://acepump-webapi-alpha-wa.azurewebsites.net/" />
      <ptpApi uriV1="http://acepump-mvc-alpha-wa.azurewebsites.net/" uriV2="https://acepump-webapi-alpha-wa.azurewebsites.net/" />
    </mode>

    <mode name="Debug" applicationSubtitle="DEBUG MODE: Not using live data">
      <logging logErrorsToFogBugz="true" logAllRequests="true" />
      <database connectionStringName="local-sqlexpress" dropAndSeed="true" />
      <storage storageType="FileSystem" connectionString="~\Uploads" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="http://localhost:4400/ http://localhost:65190/" />
      <ptpApi uriV1="http://localhost:56056/" uriV2="http://localhost:65190/" />
    </mode>
  </buildModes>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
        <customErrors mode="Off" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />   
     
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <membership defaultProvider="LinqMembershipProvider">
      <providers>
        <clear />
        <add name="LinqMembershipProvider" type="Yesod.LinqProviders.LinqMembershipProvider, Yesod" factoryType="AcePump.Domain.DataSourceFactory, AcePump.Domain" factoryMethod="GetAcePumpDataSource" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="DefaultRoleProvider" type="Yesod.LinqProviders.LinqRoleProvider, Yesod" factoryType="AcePump.Domain.DataSourceFactory, AcePump.Domain" factoryMethod="GetAcePumpDataSource" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" />
        <add namespace="AcePump.Domain.Models" />
        <add namespace="AcePump.Web.Views" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="MS_ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />  
      
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Kendo.Mvc" publicKeyToken="121fae78165ba3d4" />
        <bindingRedirect oldVersion="0.0.0.0-2015.2.805.340" newVersion="2015.2.805.340" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <AcePump.Web.My.MySettings>
      <setting name="AuthTokenExpiry" serializeAs="String">
        <value>900</value>
      </setting>
    </AcePump.Web.My.MySettings>
  </applicationSettings>
  
</configuration>