############################################################
## Standard Soris Software .hgignore for .NET projects
##
## Based on http://stackoverflow.com/a/12981198/794234
############################################################
syntax: glob

## Project specific files
build-static/iisexpress.config
build-static/build-persisted-data.json
build-static/build-number.json
AcePump.Ui.Mobile/platforms/**
AcePump.Ui.Mobile/plugins/**
AcePump.Ui.Mobile/simulation/**
AcePump.Ui.Mobile/www/lib/AcePump.mobileUi.all.min.js
AcePump.Ui.Mobile/www/index.compiled.html
AcePump.Web/Uploads/DeliveryTicket/*.jpg
AcePump.WebApi/Uploads/DeliveryTicket/*.jpg
AcePump.Web/Uploads/delivery-ticket-images/*.jpg

## User-specific files
*.suo
*.user
*.sln.docstates

## Exports
*.pdf

## Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
[Hh]ostingSpaces/

## Node packages
node_modules/*
package-lock.json

## ReSharper Ignores
_ReSharper*/
*.[Rr]e[Ss]harper

## SQL Server Ignores
App_Data/*.mdf
App_Data/*.ldf

## NuGet
packages/

## Miscellaneous Ignores
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
*.onetoc2

## Windows Ignores
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini
.vs/*

AcePump.Web/Scripts/AcePump.*.js
AcePump.Web/Scripts/AcePump.*.min.js.map
/AcePump.Web/ErrorLogs
/AcePump.WebApi/Uploads/delivery-ticket-images
