<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AcePump.SyncForQuickBooks.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="buildModes" type="AcePump.Common.BuildModes.BuildModesConfigurationSection, AcePump.Common" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AcePump.SyncForQuickBooks.My.MySettings>
      <setting name="QBCompanyFile" serializeAs="String">
        <value />
      </setting>
    </AcePump.SyncForQuickBooks.My.MySettings>
  </userSettings>
  <buildModes>
    <mode name="Release" applicationSubtitle="">
      <logging logSearches="true" logErrorsToFogBugz="true" logEntryPrefix="Ace Pump - Azure Live" />
      <database connectionStringName="azure-acepump-live-db" dropAndSeed="false" />
      <storage storageType="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=acepumplivestorage;AccountKey=0t3iViSFjxfF9X/FptDC/LVItjH7sIbcWRCC7PEvNZxhWpFaY5seioMvFgtY4Uxq6ucyLdTwcvLm+QaP1p/YUA==;EndpointSuffix=core.windows.net" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="http://api.acepumpinc.com/" />
      <ptpApi uriV1="http://db.acepumpinc.com/" uriV2="http://api.acepumpinc.com/" />
    </mode>

    <mode name="Beta" applicationSubtitle="BETA: Using live data">
      <logging logSearches="true" logErrorsToFogBugz="true" logEntryPrefix="Ace Pump - Azure Beta" />
      <database connectionStringName="azure-acepump-live-db" dropAndSeed="false" />
      <storage storageType="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=acepumplivestorage;AccountKey=0t3iViSFjxfF9X/FptDC/LVItjH7sIbcWRCC7PEvNZxhWpFaY5seioMvFgtY4Uxq6ucyLdTwcvLm+QaP1p/YUA==;EndpointSuffix=core.windows.net" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="http://beta.api.acepumpinc.com/api/" />
      <ptpApi uriV1="http://beta.acepumpinc.com/" uriV2="http://beta.api.acepumpinc.com/api/" />
    </mode>

    <mode name="Alpha" applicationSubtitle="ALPHA: NOT using live data">
      <logging logSearches="false" logErrorsToFogBugz="true" logEntryPrefix="Ace Pump - Azure Alpha" />
      <database connectionStringName="azure-acepump-alpha-db" dropAndSeed="false" />
      <storage storageType="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=acepumpalphastorage;AccountKey=QU3pzRH9e5F2PcnwokhhRxbWy4plNKHu9nFjjWzkIQ12+RhfrE3TG99FNsNyl7ZIeNBrQypgarVU6i5Qy8HlGQ==;EndpointSuffix=core.windows.net" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="https://acepump-webapi-alpha-wa.azurewebsites.net/" />
      <ptpApi uriV1="http://acepump-mvc-alpha-wa.azurewebsites.net/" uriV2="https://acepump-webapi-alpha-wa.azurewebsites.net/" />
    </mode>

    <mode name="Debug" applicationSubtitle="DEBUG MODE: Not using live data">
      <logging logErrorsToFogBugz="false" />
      <database connectionStringName="local-sqlexpress" dropAndSeed="true" />
      <storage storageType="FileSystem" connectionString="~\Uploads" dtImageContainerName="delivery-ticket-images" />
      <mobileApp csp-default-src="http://localhost:4400/ http://localhost:65190/" />
      <ptpApi uriV1="http://localhost:56056/" uriV2="http://localhost:65190/" />
    </mode>
  </buildModes>
</configuration>
